<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='photo.jpg') }}">
    <title>Gym P.T.</title>

    <body>
        <h1> Welcome to the Gym Progress Tracker</h1>
        <br><br>

        <form method="POST">
        <h5> Username: </h5> 
        <input type="text" name="username" placeholder="Username" id="username">
        <h5> Password: </h5>
        <input type="password" name="password" placeholder="1234" id="password">
        <button type="button" onclick="togglePassword()">👁️</button>
        <br><br>
        <button type="submit">Login </button>
        </form>

        <br><br><br><br>
        
        <a href="/register"> Register </a>
        <br><br>
        
        
    </body>
    <script>
    function togglePassword() {
    const pass = document.getElementById("password");

    if (pass.type === "password") {
        pass.type = "text";
    } else {
        pass.type = "password";
    }
    }
    </script>
</html>

<form action="/add" method="POST">
    <input type="text" name="exercise_name" placeholder="Egzersiz Adı" required>
    <input type="number" name="weight" placeholder="Ağırlık (kg)" step="0.5" required>
    <input type="number" name="reps" placeholder="Tekrar" required>
    <input type="number" name="sets" placeholder="Set" required>
    <button type="submit">Ekle</button>
</form>